Pods
.DS_Store
*.bundle
xcuserdata
*.xcworkspace/xcuserdata/*.xcscmblueprint
*.xcworkspace/xcuserdata/*.xcuserdatad
*.xcworkspace/xcshareddata/xcschemes/*.xcscheme
*.xcworkspace/xcshareddata/*.xccheckout
xcodebuild.log
